@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Vazir-medium.eot");
  src: url("fonts/Vazir-medium.woff") format("woff"),
    url("fonts/Vazir-medium.ttf") format("ttf"),
    url("fonts/Vazir-medium.woff2") format("woff2");
}
body {
    font-family: vazir;
    background-color:rgba(0, 255, 163, 1);

}
.box{
    border-radius: 45px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto, 0;
    text-align: center;
    width: 290px;
    padding: 9px;
}
