
@font-face {

    font-family: Vazir;
 
    src: url(/font/Vazir-Medium.woff);
 
    src: url(/font/Vazir-Medium.ttf);
 
    src: url(/font/Vazir-Medium.woff2);
 
    src: url(/font/Vazir-Medium.eot);
 
 }
body {
    font-family: Vazir;
    background-color:rgba(0, 255, 163, 1);

}
.box{
    border-radius: 45px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto, 0;
    text-align: center;
    width: 290px;
    padding: 9px;
}
