@font-face {

    font-family: Vazir;
 
    src: url(/font/Vazir-Medium.woff);
 
    src: url(/font/Vazir-Medium.ttf);
 
    src: url(/font/Vazir-Medium.woff2);
 
    src: url(/font/Vazir-Medium.eot);
 
 }
body {
    font-family: Vazir;
}
